"" Source your .vimrc

source ~/.vimrc
let mapleader = " " " map leader to Space


""" Plugins ----
set NERDTree
set easymotion


" Do incremental searching.
set incsearch
set sneak
set rnu
set smartcase
set multiple-cursors
Plug 'machakann/vim-highlightedyank'



""" My Mappings -----------------

map Q gq
unmap <C-R>


""" IDEA Vim Mappings ----
map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)

map gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gne <Action>(GotoNextError)

nmap gu <Action>(ShowUsages)
nmap gi <Action>(GotoImplementation)
nmap ge <Action>(ShowErrorDescription)
nmap gc <Action>(CallHierarchy)


noremap <Leader><Leader> :action SearchEverywhere<CR>
noremap <Leader>p :action GotoFile<CR>
noremap <Leader>e :action RecentFiles<CR>
noremap <Leader>E :action ActivateProjectToolWindow<CR>
noremap <Leader>1 :action SelectInProjectView<CR>
noremap <Leader>0 :action HideAllWindows<CR>
noremap <Leader>g :action ActivateCommitToolWindow<CR>

"" Multi cursors
map mc <A-n>
map mx <A-x>
map mp <A-p>

"" Bookmarks
nnoremap <leader>b :action ShowBookmarks<CR>
nnoremap mb :action ToggleBookmark<CR>


"" Ace jump
nnoremap s :action AceAction<CR>


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)



nmap <Tab> >>_
nmap <S-Tab> <<_
imap <S-Tab> <C-D>
vmap <Tab> >gv
vmap <S-Tab> <gv